.about{
    &-page{
        padding-top: 110px !important;
        padding-bottom: 30px;
    }
    &-me{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: auto;
        background-color: transparent;
        border-radius: 15px;
        box-shadow: $box-shadow 0px 4px 16px,
        $box-shadow 0px 8px 24px, $box-shadow 0px 16px 56px;
            &-detail{
                font-size: 1.2em;
            }
            &-text{
                font-size: 2em;
                margin-bottom: $spacing_sm;
                color: #191919;
                font-weight: 600;
                letter-spacing: 1px;
            
                span{
                    &:hover{
                        display: inline-block;
                        transition: all 500ms;
                        color: $white;
                        animation: vibrate 30ms linear infinite forwards;
                    }
                }
    }
   
    }
}
/*---Image ----*/
.webimage {
    max-width: 500px;
    height: 450px;
    background-image: url(../Images/about.png);
    background-size: cover;
    background-position: center;
  }
  /*---- Skill List ----*/
  .skill-list{
    font-weight: 600;
    padding-left: 0px;
    margin-top: 0px;
  }
  .about{
    &-skill{
      padding-top: 3rem;
    }
  }
