/*---- Font Family ----*/
$main-font: 'Poppins', sans-serif;
/*--- Spacing -----*/
$spacing_s: 5px;
$spacing_xs: 10px;
$spacing_sm: 20px;
$spacing_md: 30px;
$spacing_lg: 50px;
$spacing_xl: 70px;
$spacing_xll: 90px;
$spacing_btn: 0.5rem 1.4rem;
$spacing_btn_sm: 0.3rem 1rem; 
$spacing_sidenav_item: 12px 25px;
$spacing_sidenav_btm: 12px 25px;
$spacing_dropdown_item: 10px 15px;
$spacing_options_dropdown_item: 7px 15px;
$spacing_dropdown_header: 15px;
$spacing_dropdown_btm: 15px;